@page
@model SupermarketWEB.Pages.Providers.EditModel

<h1>Edit Provider</h1>

<form method="post">
    <input type="hidden" asp-for="Provider.Id" />

    <div class="form-group">
        <label asp-for="Provider.Name" class="control-label"></label>
        <input asp-for="Provider.Name" class="form-control" />
        <span asp-validation-for="Provider.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Provider.Address" class="control-label"></label>
        <input asp-for="Provider.Address" class="form-control" />
        <span asp-validation-for="Provider.Address" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Provider.PhoneNumber" class="control-label"></label>
        <input asp-for="Provider.PhoneNumber" class="form-control" />
        <span asp-validation-for="Provider.PhoneNumber" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</form>
